<h1><%= @chef.name %></h1>

<!-- <section class="most_pop_ingredients">
  <%# <h3><%= @chef.name %> Most Popular Ingredients:</h3> %>
  <ol>
    <%# <% @chef.most_pop_ingredients do |ingredient| %> %>
    <%# <li><%= ingredient.name %></li> %>
    <%# <% end %> %>
  </ol>
</section> -->

<%= link_to "All Ingredients", "/chefs/#{@chef.id}/ingredients" %>
